{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>Todo App</title>
	<link rel="stylesheet" type="text/css" href="{% static 'task/todo.css' %}">
	<link href="https://fonts.googleapis.com/css?family=Josefin+Sans" rel="stylesheet">
</head>
<body bgcolor="lightseagreen">
	<div id="box">
	<div id = "base">
		<p id = "header"><B>ToDo</B></p><br>
	<div if = "content">
		<form method="POST" id="formTodo">
			{% csrf_token %}
			{{forms.text}}<br><button type="submit" class="add" id="add">Add</button>
			<button type="button" class="delete" id="delid">Delete Completed</button><br><br>
			<ul class="task" id="taskViewer">
				{% for todo in todoList %}
					{% if todo.completed %}
						<li class="completed">{{ todo.text }}</li>
					{% else %}
						<a href="{% url 'completed' todo.id %}"><li class="pending">{{ todo.text }}</li></a>
	
						{% endif %}
				{% endfor %}
			</ul>
		</form>
	</div>
</div>
</div>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
<script type="text/javascript">
	$(document).on('submit','#formTodo', function(event){
		event.preventDefault();
		$.ajax({
			type:'POST',
			url:'{% url 'add' %}',
			data:{
				task:$('#addtask').val(),
				csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val()
			},
			success:function(){
				$("#taskViewer").load(" #taskViewer");
			}
		})
	});
	$("#delid").click(function(delE){
		delE.preventDefault();
		$.ajax({
			type: 'GET',
			url:'{% url 'delete' %}',
			success:function(){
				$("#taskViewer").load(" #taskViewer");
			}
		})
	});
	
</script>
</html>